<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCXMJs5Yl5Rbtu3KiCxAoy2FPP4BEByRvA</string>
	<key>GCM_SENDER_ID</key>
	<string>23478154947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginMoviles2</string>
	<key>PROJECT_ID</key>
	<string>baselogin-b9f65</string>
	<key>STORAGE_BUCKET</key>
	<string>baselogin-b9f65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23478154947:ios:c3667b201bed7db46e5476</string>
</dict>
</plist>